.question{border-left: solid 3px rbga(158,193,14,1);
border-right: solid 1px #aaaaaa;
border-top: solid 1px #aaaaaa;
border-bottom: solid 1px #aaaaaa;
border-radius: .25rem;
box-shadow: -2px 2px 5px #999999;
padding: .5rem;}